body{
    font-family: Lato;
}

header{
    max-width: 1190px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 86px;
    background-color: #ffffff;
}
.logo{
    padding: 15px 0;
    align-self: center;
    flex-grow: 1;
    justify-content: start;
}
nav{
    display: flex;
    flex-wrap: wrap;
}
nav>a{
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #2f3f54;
    align-self: center;
    margin: 20px;
}

h1{
    font-family: Roboto;
    font-size: 48px;
    line-height: 62px;
    font-weight: 900;
    text-transform: uppercase;
}
.bigtext{
    font-size: 19px;
    line-height: 37px;
    font-weight: 700;
}
.text{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.row{
    display: flex;
    max-width: 1190px;
    margin: 0 auto;
}

section{
    background-image: url(../img/rectangle_2_3672.png);
    background-position: center;
}
section>.row{
    min-height: 850px;
}
section>.row>.block{
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    flex-wrap: wrap;
}

.text__block{
    color: #ffffff;
    min-height: 460px;
    padding: 15px 0 95px;
}
.text__block>ul{
    padding: 25px 0;
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
}
.text__block>ul>li::before{
    content: " ";
    background: url(../img/tick.png) 0 50% no-repeat;
    padding-right: 20px;
}
.text__block>ul>li>img{
    padding-top: 5px;
    padding-left: 5px;
}
.text__block>button{
    margin: 12px 0;
    width: 224px;
    height: 47px;
    border: 3px solid #ffffff;
    color: #ffffff;
    border-radius: 23.5px;
    background-color: #267ae9;
    text-transform: uppercase;
}

.picture{
    height: 510px;
    width: 485px;
    display: block;
    position: relative;
}
.sticker{
    color: #212121;
    position: absolute;
    left: 250px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 229px;
    height: 229px;
    border-radius: 50%;
}
.sticker>p{
    align-self: center;
}
.sticker>p:nth-child(1){
    padding: 0 70px 15px 0;
}
.sticker>p:nth-child(2){
    font-size: 54px;
    line-height: 24px;
    font-weight: 700;
}
.sticker>p:nth-child(3){
    padding: 10px 0 0 80px;
}
.picture>img{
    position: absolute;
    top: 45px;
}

.title{
    padding: 45px 0;
    font-family: Roboto;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #2f3f54;
}
.description{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #4a6385;
}
.blue{
    color: #2575e7;
}
.orange{
    color: #e74c3c;
}
.lightGreen{
    color: #42d6c1;
}

main>.row{
    flex-direction: column;
}
main>.row>.block{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

main>.row:first-child{
    min-height: 1250px;
}

main>.row:first-child>.block:first-child{
    flex-direction: column;
    min-height: 400px;
}
main>.row:first-child .description{
    max-width: 590px;
    margin: 0 auto;
}
main>.row:first-child>.block:nth-child(2){
    flex-wrap: wrap;
}

.column{
    display: flex;
    text-align: start;
    flex-direction: column;
    width: 360px;
    height: 721px;
    max-width: 590px;
    background: url(../img/rounded_rectangle_1_5181.png) top no-repeat;
    box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);  
    border-radius: 2px 2px 0px 0px;
    margin: 15px;
}

.column-price{
    text-align: center;
    padding-top: 30px;
    font-family: Roboto;
    font-size: 22.7px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.column-price>span:first-child{
    font-size: 32.9px;
}
.column-price>span:last-child{
    font-size: 16px;
}
.column>img{
    align-self: center;
    background: url(../img/Layer_20.png) 50% 50% no-repeat;
    padding: 15px;
    margin: 70px 0 40px;
    height: 120px;
}
.column-title{
    padding: 0 50px;
    font-family: Roboto;
    font-size: 31.3px;
    line-height: 50px;
    font-weight: 700;
    color: #267ae9;
}
.column>.description{
    padding: 20px 50px;
}
.benefits{
    padding: 20px 50px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #4a6385;
}
.benefits>li::before{
    content: " ";
    background: url(../img/light_tick.png) 0 50% no-repeat;
    padding-left: 30px;
}
.column>*:nth-last-child(2){
    flex-grow: 1;
}
.column>button{
    height: 60px;
    background-color: #267ae9;
    border-radius: 0px 0px 2px 2px;
    font-family: Roboto;
    font-size: 17.2px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: #ffffff;
}

main>.row:nth-child(2){
    min-height: 750px;
    min-width: 100%;
    background-color: #fafafa;
}

main>.row:nth-child(2)>.block:first-child{
    padding: 40px 0px 20px;
}

.slider{
    margin: 0 auto;
    text-align: center;
    padding: 40px 0px 0px;
    max-width: 1190px;
}
.slick-list{
    margin: 0 -70px;
}
.slick-track{
    margin: 0 70px;
}
.card{
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 193px auto;
    width: 524px;
    height: 340px;
    background-color: #ffffff;
    box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
    color: #4a6385;
}
.blue__piece{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #267ae9;
}
.text__piece{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    text-align: start;
}
.bigdescription{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
.author{
    padding: 15px 0;
    line-height: 30px;
    font-weight: 700;
}
.author>span:last-child{
    font-weight: 400;
    color: #2f3f54;
}
.slick-dots{
    display: flex;
    justify-content: center;
}
.slick-dots button{
    font-size: 0;
    margin: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #267ae9;
}
.slick-dots li:nth-child(3){
    order: 1;
}
.slick-dots li:nth-child(1){
    order: 2;
}
.slick-dots li:nth-child(2){
    order: 3;
}
.slick-dots button:hover, .slick-dots li.slick-active>button{
    background-color: rgba(38,122,233,0.0);
    border: 2px solid #267ae9;
}

main>.row:last-child{
    padding: 70px 0;
}
main>.row:last-child>.block{
    flex-wrap: wrap;
}
main>.row:last-child a{
    margin: 20px;
}

.title__footer{
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.2;
    color: #d0e4ff;
    padding-bottom: 15px;
}

footer{
    background-image: url(../img/base.png);
    background-position: center;
    color: #718db2;
    font-weight: 400;
    font-size: 13px;
}
footer>.row{
    min-height: 508px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
}
footer>.row>.block{
    max-width: 270px;
}
footer>.row>.block>a{
    display: block;
    color: #718db2;
    margin: 20px 0;
}
.minidescription{
    line-height: 22px;
    padding: 30px 0;
}
.line{
    background-color: #ffffff;
    max-width: 262px;
    height: 1px;
    opacity: 0.05;
}
form{
    display: flex;
    flex-direction: column;
}
form>*{
    font-size: 11px;
    line-height: 1.2;
    width: 270px;
    height: 40px;
    padding: 10px;
    background-color: rgba(47,63,84,0.05);
    border: 1px solid #414f62;
    color: #718db2;
}
form>textarea{
    height: 86px;
    margin-bottom: 10px;
    resize: none;
}
form>button{
    font-family: Roboto;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    width: 60px;
    height: 40px;
    background-color: #2575e7;
}
