/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	padding: 30px;
}

.topic{
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	height: 50px;
}

.popularOffers{
	font-family: 'Roboto';
	font-style: normal;
	max-width: 1120px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 25px;
}

.title{
	font-weight: 500;
	font-size: 24px;
	line-height: 31px;
}
.subtitle{
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
}
.countries, .duration{
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	padding: 10px 5px;
}
.price{
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}

.block{
	color: #FFFFFF;
	min-height: 256px;
	display: flex;
	flex-direction: column;
	padding: 15px 25px 20px;
}

.block>p:nth-last-child(2){
	flex-grow: 1;
}

.block:nth-child(1){
	background: url(../img/Rectangle\ 25.png) no-repeat;
	background-size: 100% 100%;
	
}
.block:nth-child(2){
	background: url(../img/Rectangle\ 44.png)no-repeat;
	background-size: 100% 100%;
	
}
.block:nth-child(3){
	background: url(../img/Rectangle\ 34.png)no-repeat;
	background-size: 100% 100%;
	grid-column: span 2;
	grid-row: span 2;
	
}
.block:nth-child(4){
	background: url(../img/Rectangle\ 63.png)no-repeat;
	background-size: 100% 100%;
	
}
.block:nth-child(5){
	background: url(../img/Rectangle\ 64.png)no-repeat;
	background-size: 100% 100%;
	
}
.block:nth-child(6){
	background: url(../img/Rectangle\ 69.png)no-repeat;
	background-size: 100% 100%;
	grid-column: span 2;
	grid-row: span 2;
	
}
.block:nth-child(7){
	background: url(../img/Rectangle\ 65.png)no-repeat;
	background-size: 100% 100%;
	
}
.block:nth-child(8){
	background: url(../img/Rectangle\ 67.png)no-repeat;
	background-size: 100% 100%;
	
}
.block:nth-child(9){
	background: url(../img/Rectangle\ 66.png)no-repeat;
	background-size: 100% 100%;

}
.block:nth-child(10){
	background: url(../img/Rectangle\ 68.png)no-repeat;
	background-size: 100% 100%;

}
