/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	font-family: Arial;
	width: 1190px;
	margin: 0 auto;
	background-color: #e8e8e8;
	background: url(../img/ellipse_1_copy_4.png) 50% 50px no-repeat;
}

header{
	text-align: center;
}

.signature{
	opacity: 0.6;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #273d46;
	margin: 69px 0 28px;
}

.head{
	font-family: 'Times New Roman';
	font-size: 36px;
	line-height: 50px;
	font-weight: 400;
	color: #273d46;
	margin: 0 0 87px;
}

.mainimg{
	width: 841px;
	height: 561px;
	border: 10px solid white;
	display: block;
	margin: 0 auto;
	box-shadow: grey 0px 0px 15px;
}

main{
	opacity: 0.8;
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
	margin: 107px 226px 0px 226px;
}

footer{
	padding: 64px 262px 137px 192px;
}

.tasks li{
	background: url(../img/check_icon_38.png) 0 10px no-repeat;
	padding-left: 35px;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
}

.tasks{
	margin-bottom: 59px;
}

.backlitItem{
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #273d46;
}

.italicItem{
	font-style: italic;
	color: #80b7b3;
}

.boldItem{
	font-weight: 700;
	color: #273d46;
}

.crossedItem{
	opacity: 0.3;
	text-decoration: line-through;
	color: #273d46;
}

button{
	height: 44px;
	width: 199px;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	background: #80b7b3 url(../img/shape_2_9.png) 150px 15px no-repeat;
	box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
	border-radius: 22px;
	display: flex;
	justify-content: left;
	padding: 3px 15px 0 30px;
}
