body{
    width: 1600px;
    margin: 0 auto;
    position: relative;
}
body>*{
    border-left: 1px solid #21062A;
    border-right: 1px solid #21062A;
    padding: 0 200px;
}

.modal-window{
    border: 10px solid #5A0D67;
    box-shadow: 0px 0px 5px;
    background-color: #21062A;
    width: 600px;
    height: 500px;
    margin: 10% 500px;
    padding: 0px;
    position: fixed;
    z-index: 2;
}
.modal-window button{
    font-size: 30px;
    margin: 12px 10px 12px auto;
    height: 40px;
    background-color: #21062A;
}

h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;

    line-height: 107px;
    text-transform: uppercase;
}
h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    line-height: 53px;
    text-transform: uppercase;
}
h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;

    line-height: 36px;
}
button{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

    line-height: 21px;
}
.button{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    
    line-height: 21px;
    text-transform: uppercase;
}
h4{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;

    line-height: 27px;
}

.white-text{
    color: #FFFFFF;
}
.accent-text{
    color: #5A0D67;
}
.grey-text{
    color: #C4C4C4;
}
.company-color-text{
    color: #21062A;
}
.black-text{
    color: #2C2B2B;
}

.social-media{
    width: 250px;
    display: flex;
    justify-content: center;
}
.social-media a{
    margin: 0 5px;
}
.application{
    background-color: #5A0D67;
    height: 50px;
    width: 250px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.black-line{
    display: inline-block;
    width: 80px;
    height: 3px;
    background-color: #21062A;
    margin: 0 8px 17px;
}
.white-line{
    display: inline-block;
    width: 80px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 0 8px 17px;
}

header{
    background: url(../img/back_header.png) 50% 0 no-repeat;
    min-height: 900px;
    position: relative;
}
.header__top{
    padding: 50px 0 80px;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 53px;
    width: 197px;
}
.phone-number{
    height: 53px;
    width: 273px;
}
header h4{
    padding: 30px 0;
}
header .social-media{
    margin-top: 70px;
}
.car-header{
    position: absolute;
    bottom: 0;
    left: 586px;
}

main{
    padding-top: 100px;
}

.service-slider{
    display: flex;
    margin: 50px 0;
}
.service{
    overflow: hidden;
    width: 600px;
    height: 500px;
    display: grid;
    grid-gap: 45px;
    padding-right: 100px;
}
.text-service__block>h4{
    padding-bottom: 10px;
}
.service-slider button{
    display: grid;
    grid-gap: 5px;
    padding: 7px 0;
    grid-template-columns: 75px auto;
    grid-template-rows: 25px 30px;
    margin: 0px 145px 10px 0;
    width: 450px;
    height: 75px;
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
    overflow: hidden;
}
.service-slider button:hover, .service-slider button.active{
    margin: 0px 95px 10px 0;
    width: 500px;
    height: 75px;
    border: 2px solid #5A0D67;
    color: #5A0D67;
}
.service-number{
    grid-row: 1/3;
    height: 100%;
    padding-top: 15px;
    transform: rotate(270deg);
}
.service-slider button>h3, .service-slider button>h4{
    color: #2C2B2B;
    text-align: left;
    padding-left: 35px;
}
.service-slider button:hover>h3, .service-slider button.active>h3{
    color: #5A0D67;
}
.grey-line{
    position: relative;
    right: 10px;
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: #C4C4C4;
    margin-bottom: 5px;
}

.advantages{
    margin: 100px 0;
    display: grid;
    grid-template-columns: 415px auto;
    grid-template-rows: 100px auto;
}
.advantages>img{
    grid-row: 1/3;
}
.advantages>h2{
    padding: 0 280px 0 185px;
}
.advantages__block{
    background-color: #21062A;
    padding: 0 280px 0 185px;
}
.advantages__block>h2{
    line-height: 40px;
    padding-top: 25px;
}

.car-slider{
    padding: 50px 0 100px;
}
.car{
    width: 390px;
    display: flex;
    flex-direction: column;
    border: 1px solid #C4C4C4;
    align-items: center;
    padding-bottom: 15px;
}
.slick-list{
    margin: 0 -7px;
}
.slick-track{
    margin: 0 7px;
}
.car>img{
    width: 380px;
    padding: 5px 3px 20px;
}
.slick-track>.slick-current + :not(.slick-current)>.car{
    background-color: #5A0D67;
    color: #FFFFFF;
}
.car-slider .slick-dots{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.car-slider .slick-dots button{
    margin: 0 10px;
    font-size: 0;
    width: 50px;
    height: 1px;
    border: 1px solid #C4C4C4;
}
.car-slider .slick-dots button:hover, .car-slider .slick-dots>.slick-active button{
    border: 2px solid #5A0D67;
}
.slick-prev{
    position: absolute;
    width: 390px;
    height: 340px;
    z-index: 1;
    opacity: 0;
}
.slick-next{
    position: absolute;
    bottom: 166px;
    width: 390px;
    height: 340px;
    left: 808px;
    z-index: 1;
    opacity: 0;
}

main>section{
    display: flex;
}
main>section>div{
    padding: 50px 0;
    width: 600px;
}
.application__block{
    background-color: #21062A;
    padding: 50px 75px;
}
.application__block h2{
    padding-bottom: 15px;
}
.contact-text__block{
    padding-top: 20px;
}
.application__block h2{
    text-align: center;
}
form>input{
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
    width: 450px;
    height: 75px;
    border: 2px solid #C4C4C4;
    background-color: #21062A;
    margin-bottom: 10px;
}
form>input::placeholder{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;

    line-height: 27px;
}
form>button{
    margin: 70px 100px 55px;
}

footer{
    background-color: #21062A;
}
.footer__top{
    align-items: center;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}
