/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    font-family: Arial;
    font-weight: 400;
    margin: 0 auto;
}

header{
    background-color: #445162;
}

header *{
    margin: 0 auto;
    max-width: 1280px;
}

.headerItems{
    display: flex;
}

.headerText{
    padding: 45px;
    width: 700px;
}

.greeting{
    font-size: 60px;
    line-height: 1.2;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
    padding-bottom: 25px;
}

header ul>li::before{
    content: '';
    background: url(../img/check_icon_347.png) 0 0 no-repeat;
    padding-left: 35px;
}

header ul>li{
    font-size: 20px;
	line-height: 36px;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
}

header img{
    padding: 45px;
    width: 580px;
}

main{
    background-color: #ffffff;
}

main *{
    margin: 0 auto;
    max-width: 1280px;
}

main>div:nth-child(even){
    background-color: #f5f5f5;
    max-width: 100%;
}

.title{
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}

.subtitle{
    font-size: 24px;
    line-height: 30px;
    color: #445161;
}

.text{
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.info{
    display: flex;
    padding: 45px;
}

.info img{
    height: 195px;
    width: 450px;
}

.infoText{
    padding: 0 65px 0 35px;
    width: 830px;
    max-width: 100%;
    flex-grow: 1;
}

.infoText>.text{
    padding: 20px 0;
}

.columns{
    padding: 45px;
}

.columns>.title{
    text-align: center;
    padding-bottom: 5px;
}

.column{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.card{
    padding: 20px;
    display: flex;
    flex-grow: 1;
}

.greyImg{
    align-self: center;
    height: 165px;
    width: 230px;
    background-color: #445161;
}

.cardText{
    width: 360px;
    padding: 0 15px;
    flex-grow: 1;
}

.cardText>.text{
    padding-top: 10px;
}

.verticalAlign{
    padding: 20px;
    height: 655px;
}

.verticalAlign>.title{
    padding: 20px;
    text-align: center;
    padding-bottom: 5px;
}

.blocks{
    display: flex;
    padding: 20px 100px;
}

.block{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #445162;
    height: 500px;
    width: 300px;
}

.block p:first-child{
    font-size: 24px;
    line-height: 30px;
    padding: 10px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.block p:nth-child(2){
    border: 2px solid #445162;
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    font-size: 40px;
    line-height: 30px;
    color: #445162;
}

.block p:nth-child(3){
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    flex-grow: 1;
}

button{
    margin: 20px;
    border-radius: 5px;
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
}

.signature>p{
    padding: 30px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #445162;
}
